@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.container-fluid {
  padding: 0 0 0 0; }

.navbar-toggler {
  border: none;
  background-color: #86bfca;
  border-radius: 0;
  height: 50px; }

.navbar {
  padding: 0 0 0 15px; }
