@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
.container-fluid {
  padding: 0 0 0 0; }

.navbar-toggler {
  border: none;
  background-color: #86bfca;
  border-radius: 0;
  height: 50px; }

@media (min-width: 768px) {
  .navbar-toggler {
    height: 70px;
    background-color: #86bfca; } }

.navbar {
  padding: 0 0 0 20px;
  background-color: white; }

.bg-light {
  background-color: white !important; }

img {
  width: 105%; }

.jumbotron {
  background: url("/assets/assets-headerImg.png") no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  color: white; }
  .jumbotron .display-4 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 5px;
    margin: 20px 0 0 0; }
  .jumbotron .lead {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: lighter;
    line-height: 23px;
    margin: 15px 0 45px 0;
    padding: 0 5px 0 5px;
    color: #dadada; }
  .jumbotron .btn-group-wrap {
    text-align: center; }
  .jumbotron div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block; }
  .jumbotron .btn {
    width: 275px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    height: 35px;
    padding: 8px 0 0 0; }
  @media (min-width: 1px) and (max-width: 647px) {
    .jumbotron .learnMoreBtn {
      margin-bottom: 18px; } }
  .jumbotron .learnMoreBtn {
    border-radius: 0px;
    border-color: white;
    font-weight: bolder;
    color: white;
    background-color: rgba(255, 255, 255, 0.308);
    margin: 0 0 20px 0; }
  .jumbotron .getStartedBtn {
    border: 0px;
    border-radius: 0px;
    font-weight: bolder;
    color: white;
    background-color: #86bfca;
    margin: 0 0 35px 0; }

.rowOne {
  margin: 50px 0 30px 0; }
  .rowOne .rowOneLeft {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 1.2;
    color: #294243;
    margin: 0 0 15px 0; }
  .rowOne .oneOoneText {
    font-weight: bolder;
    color: #294243;
    -webkit-text-fill-color: #294243;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #294243; }
  .rowOne .rowOneParagraph {
    font-size: 12px;
    color: #869586;
    line-height: 2; }

.rowTwo {
  font-family: "Montserrat", sans-serif; }
  .rowTwo .rowTwoHeader {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
    color: #294243;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0 0 15px 15px; }
  .rowTwo .rowTwoOffer {
    font-family: "Playfair Display", serif;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #869586;
    font-style: italic; }

.rowThree div.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block; }

.rowThree .rowThreeBtns {
  border-radius: 0;
  border: 0;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: #eff1f2;
  color: #a3a3a3;
  font-size: 20%;
  letter-spacing: 2px;
  margin-right: 2px; }

.rowThree .rowThreeBtns:hover {
  background-color: #86bfca;
  color: whitesmoke; }

.rowThree button.btn.btn-secondary.rowThreeBtns {
  width: 265px;
  height: 45px;
  margin: 0 0 20px 0; }

.rowThree .btn-secondary:not(:disabled):not(.disabled).active,
.rowThree .btn-secondary:not(:disabled):not(.disabled):active,
.rowThree .show > .btn-secondary.dropdown-toggle {
  background-color: #86bfca; }

.rowFour .tabHeader {
  color: #294243;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 20px 0 15px 15px; }

.rowFour .mainContent {
  font-size: 12px;
  color: #869586;
  line-height: 2;
  padding: 0 0 0 15px;
  margin: 0 0 0 0; }

.rowFour .rowFourBtnLabel {
  color: #294243;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0 0 0 15px;
  font-weight: bolder;
  color: #294243;
  -webkit-text-fill-color: #294243;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #294243; }

.rowFour .rowFourList ul {
  color: #294243;
  font-family: "Montserrat", sans-serif;
  padding: 0 0 0 25px;
  font-weight: 700; }

.rowFour .rowFourList li {
  color: #4e5a5a;
  font-family: "Montserrat", sans-serif;
  padding: 0 0 25px 0;
  list-style-position: inside;
  letter-spacing: 1px;
  font-size: 13px; }

.rowFour .llcInfoBtn {
  border: 0px;
  border-radius: 0px;
  font-weight: bolder;
  font-size: 11px;
  color: whitesmoke;
  background-color: #86bfca;
  padding: 12px 0 0 0;
  width: 265px;
  height: 40px;
  margin: 0 0 20px 0;
  letter-spacing: 1px; }
