@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
.container-fluid {
  padding: 0 0 0 0;
  max-width: 1440px; }

.row {
  margin-right: 0;
  margin-left: 0; }

.navbar-toggler {
  border: none;
  background-color: #86bfca;
  border-radius: 0;
  height: 50px; }

@media (min-width: 768px) {
  .navbar-toggler {
    height: 75px;
    background-color: #86bfca; } }

.navbar {
  padding: 0 0 0 20px;
  background-color: white; }

.bg-light {
  background-color: white !important; }

@media (min-width: 992px) {
  .nav-item {
    margin: 0 0 0 15px; } }

@media (min-width: 1200px) {
  .nav-item {
    margin: 0 0 0 25px; } }

@media (min-width: 768px) {
  .fa-search {
    color: #86bfca;
    margin-top: 10px;
    font-size: 13px; } }

img {
  width: 105%; }

.jumbotron {
  background: url("/assets/assets-headerImg.png") no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  color: white; }
  .jumbotron .display-4 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 5px;
    margin: 20px 0 0 0; }
  @media (min-width: 992px) {
    .jumbotron .display-4 {
      font-size: 40px; } }
  @media (min-width: 1200px) {
    .jumbotron .display-4 {
      font-size: 45px; } }
  .jumbotron .lead {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: lighter;
    line-height: 23px;
    margin: 15px 0 45px 0;
    padding: 0 5px 0 5px;
    color: #dadada; }
  @media (min-width: 768px) {
    .jumbotron .lead {
      font-size: 15px;
      margin: 10px 0 25px 0; } }
  @media (min-width: 992px) {
    .jumbotron .lead {
      font-size: 17px;
      margin: 10px 0 25px 0; } }
  @media (min-width: 1200px) {
    .jumbotron .lead {
      font-size: 19px;
      margin: 10px 0 25px 0; } }
  .jumbotron .btn-group-wrap {
    text-align: center; }
  .jumbotron div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block; }
  .jumbotron .btn {
    width: 275px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    height: 35px;
    padding: 8px 0 0 0; }
  .jumbotron .learnMoreBtn {
    border-radius: 0px;
    border-color: white;
    font-weight: bolder;
    color: white;
    background-color: rgba(255, 255, 255, 0.308);
    margin: 0 0 20px 0; }
  .jumbotron .getStartedBtn {
    border: 0px;
    border-radius: 0px;
    font-weight: bolder;
    color: white;
    background-color: #86bfca;
    margin: 0 0 35px 0; }
  @media (min-width: 768px) {
    .jumbotron .learnMoreBtn {
      margin: 0;
      width: 150px; }
    .jumbotron .getStartedBtn {
      margin: 0;
      width: 150px; } }
  @media (min-width: 992px) {
    .jumbotron .learnMoreBtn {
      margin: 0;
      width: 155px; }
    .jumbotron .getStartedBtn {
      margin: 0;
      width: 155px; } }

@media (min-width: 768px) {
  .jumbotron {
    background-position: bottom center; } }

.rowOne {
  margin: 50px 0 30px 0; }
  .rowOne .rowOneLeft {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 1.2;
    color: #294243;
    margin: 0 0 15px 0; }
  @media (min-width: 768px) {
    .rowOne .rowOneLeft {
      text-align: right;
      font-size: 35px; } }
  @media (min-width: 992px) {
    .rowOne .rowOneLeft {
      font-size: 40px; } }
  @media (min-width: 1200px) {
    .rowOne .rowOneLeft {
      font-size: 45px; } }
  .rowOne .oneOneText {
    font-weight: bolder;
    color: #294243;
    -webkit-text-fill-color: #294243;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #294243; }
  .rowOne .rowOneParagraph {
    font-size: 12px;
    color: #424d42;
    line-height: 2; }
  @media (min-width: 992px) {
    .rowOne .rowOneParagraph {
      font-size: 13px; } }
  @media (min-width: 1200px) {
    .rowOne .rowOneParagraph {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .rowOne {
      padding: 0 15px 0 0; } }
  @media (min-width: 992px) {
    .rowOne {
      padding: 0 20px 0 0; } }
  @media (min-width: 1200px) {
    .rowOne {
      padding: 0 25px 0 0; } }

@media (min-width: 768px) {
  .rowOne {
    margin: 70px 0 70px 0; } }

.rowTwo {
  font-family: "Montserrat", sans-serif; }
  .rowTwo .rowTwoHeader {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
    color: #294243;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0 0 15px 15px; }
  @media (min-width: 768px) {
    .rowTwo .rowTwoHeader {
      font-size: 20px;
      text-align: center; }
    .rowTwo .rowTwoOffer {
      font-size: 12px;
      text-align: center; } }
  @media (min-width: 992px) {
    .rowTwo .rowTwoHeader {
      font-size: 28px;
      text-align: center; } }
  @media (min-width: 1200px) {
    .rowTwo .rowTwoHeader {
      font-size: 30px;
      text-align: center; } }
  .rowTwo .rowTwoOffer {
    font-family: "Playfair Display", serif;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #424d42;
    font-style: italic; }
  @media (min-width: 768px) {
    .rowTwo .rowTwoOffer {
      font-size: 14px; } }
  @media (min-width: 992px) {
    .rowTwo .rowTwoOffer {
      font-size: 15px; } }
  @media (min-width: 992px) {
    .rowTwo .rowTwoOffer {
      font-size: 16px; } }

.rowThree div.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block; }

.rowThree .rowThreeBtns {
  border-radius: 0;
  border: 0;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: #eff1f2;
  color: #a3a3a3;
  font-size: 20%;
  letter-spacing: 2px;
  margin-right: 2px; }

.rowThree .rowThreeBtns:hover {
  background-color: #86bfca;
  color: whitesmoke; }

.rowThree button.btn.btn-secondary.rowThreeBtns {
  width: 265px;
  height: 45px;
  margin: 0 0 20px 0; }

.rowThree button.btn.btn-secondary.rowThreeBtns {
  width: 200px;
  height: 30px;
  padding: 0 0 0 0;
  margin: 0 0 20px 0; }

@media (min-width: 992px) {
  .rowThree button.btn.btn-secondary.rowThreeBtns {
    width: 245px;
    height: 45px;
    margin: 0 0 20px 0; } }

@media (min-width: 1200px) {
  .rowThree button.btn.btn-secondary.rowThreeBtns {
    width: 275px;
    height: 45px;
    margin: 0 0 20px 0; } }

.rowThree .llcBtn,
.rowThree .corpBtn,
.rowThree .nonprofitBtn {
  margin-left: -5px !important;
  letter-spacing: 0.5px; }

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #86bfca; }

.rowFour {
  margin: 0 0 170px 0; }
  .rowFour .tabHeader {
    color: #294243;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 20px 0 15px 0; }
  @media (min-width: 768px) {
    .rowFour .tabHeader {
      font-size: 14px;
      font-weight: 200; } }
  @media (min-width: 1200px) {
    .rowFour .tabHeader {
      font-size: 16px;
      font-weight: 200; } }
  .rowFour .mainContent {
    font-size: 12px;
    color: #424d42;
    line-height: 2;
    padding: 0 0 0 0;
    margin: 0 0 0 0; }
  @media (min-width: 768px) {
    .rowFour .mainContent {
      font-size: 13px; } }
  @media (min-width: 1200px) {
    .rowFour .mainContent {
      font-size: 14px; } }
  .rowFour .rowFourBtnLabel {
    color: #294243;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0 0 0 0;
    font-weight: bolder;
    color: #294243;
    -webkit-text-fill-color: #294243;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #294243; }
  @media (min-width: 768px) {
    .rowFour .rowFourBtnLabel {
      font-size: 8px; } }
  @media (min-width: 992px) {
    .rowFour .rowFourBtnLabel {
      font-size: 10px; } }
  @media (min-width: 1200px) {
    .rowFour .rowFourBtnLabel {
      font-size: 12px; } }
  .rowFour .rowFourList ul {
    color: #294243;
    font-family: "Montserrat", sans-serif;
    padding: 0 0 0 10px;
    font-weight: 700; }
  .rowFour .rowFourList li {
    color: #424d42;
    font-family: "Montserrat", sans-serif;
    padding: 0 0 25px 0;
    list-style-position: inside;
    letter-spacing: 1px;
    font-size: 13px; }
  @media (min-width: 768px) {
    .rowFour .rowFourList li {
      padding: 0 0 25px 0;
      font-size: 12px; } }
  @media (min-width: 992px) {
    .rowFour .rowFourList li {
      padding: 0 0 25px 0;
      font-size: 13px; } }
  @media (min-width: 992px) {
    .rowFour .rowFourList li {
      padding: 0 0 25px 0;
      font-size: 14px; } }
  @media (min-width: 768px) {
    .rowFour .rowFourList {
      padding: 50px 0 0 0; } }
  .rowFour .llcInfoBtn {
    border: 0px;
    border-radius: 0px;
    font-weight: bolder;
    font-size: 11px;
    color: whitesmoke;
    background-color: #86bfca;
    padding: 12px 0 0 0;
    width: 265px;
    height: 40px;
    margin: 0 0 20px 0;
    letter-spacing: 1px; }
  @media (min-width: 768px) {
    .rowFour .llcInfoBtn {
      width: 150px; } }

@media (min-width: 768px) {
  .rowFour {
    margin: 0 20px 170px 30px; } }

@media (min-width: 992px) {
  .rowFour {
    margin: 0 20px 120px 80px !important; } }

@media (min-width: 1200px) {
  .rowFour {
    margin: 0 20px 120px 130px !important; } }

.rowFive {
  background-color: #eff1f2; }
  .rowFive .capitolBldImage {
    object-fit: cover;
    border-radius: 50%;
    height: auto;
    width: 110%;
    margin-top: -175px;
    margin-left: -15px;
    margin-bottom: 55px; }
  @media (min-width: 768px) {
    .rowFive .capitolBldImage {
      width: 325px;
      height: auto;
      margin: 80px 0 0 30px; } }
  @media (min-width: 992px) {
    .rowFive .capitolBldImage {
      width: 350px;
      margin: 75px 0 0 80px; } }
  @media (min-width: 1200px) {
    .rowFive .capitolBldImage {
      width: 375px;
      margin: 70px 0 0 130px; } }
  .rowFive .rowFiveheaderRight {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
    color: #294243;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0 0 15px 15px; }
  @media (min-width: 768px) {
    .rowFive .rowFiveheaderRight {
      font-size: 20px;
      margin: 100px 0 0 15px; } }
  @media (min-width: 992px) {
    .rowFive .rowFiveheaderRight {
      font-size: 24px; } }
  @media (min-width: 1200px) {
    .rowFive .rowFiveheaderRight {
      font-size: 28px; } }
  .rowFive .howToText {
    font-family: "Playfair Display", serif;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #424d42;
    font-style: italic;
    margin: 0 0 -5px 0;
    padding: 0 0 0 15px; }
  @media (min-width: 768px) {
    .rowFive .howToText {
      font-size: 11px; } }
  @media (min-width: 992px) {
    .rowFive .howToText {
      font-size: 13px; } }
  @media (min-width: 1200px) {
    .rowFive .howToText {
      font-size: 15px; } }
  .rowFive .mainContent {
    font-size: 14px;
    color: #424d42;
    line-height: 2;
    margin: 0 0 35px 0;
    padding: 0 0 0 15px; }
  @media (min-width: 768px) {
    .rowFive .mainContent {
      font-size: 12px; } }
  @media (min-width: 992px) {
    .rowFive .mainContent {
      font-size: 13px; } }
  @media (min-width: 1200px) {
    .rowFive .mainContent {
      font-size: 14px; } }
  .rowFive ul {
    list-style: none; }
  .rowFive ul li {
    position: relative;
    margin: 0 0 15px 0; }
  .rowFive .fa-check-circle:before {
    color: #86bfca;
    font-size: 22px; }
  @media (min-width: 768px) {
    .rowFive .fa-check-circle:before {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .rowFive .fa-check-circle:before {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .rowFive .fa-check-circle:before {
      font-size: 22px; } }
  .rowFive .liText {
    padding: 0 0 0 12px; }
  @media (min-width: 768px) {
    .rowFive ul li {
      margin: 0 0 10px 0; }
    .rowFive .liText {
      padding: 0 0 0 10px; } }
  @media (min-width: 768px) {
    .rowFive .content {
      padding: 0 50px 0 10px; } }

@media (min-width: 768px) {
  .rowFive {
    margin: 0 0 0 0;
    height: 475px; } }

@media (min-width: 992px) {
  .rowFive {
    margin: 0 0 0 0;
    height: 500px; } }

.rowSix {
  background-color: #294243;
  color: whitesmoke;
  height: 1100px;
  padding: 0 10px 0 15px;
  /* Vertical line */ }
  .rowSix .rowSixHeader {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 70px 0 15px 0; }
  @media (min-width: 768px) {
    .rowSix .rowSixHeader {
      font-size: 20px; } }
  @media (min-width: 992px) {
    .rowSix .rowSixHeader {
      font-size: 24px; } }
  @media (min-width: 992px) {
    .rowSix .rowSixHeader {
      font-size: 28px; } }
  .rowSix .findAnswersText {
    font-family: "Playfair Display", serif;
    font-size: 13px;
    letter-spacing: 1.3px;
    font-style: italic;
    margin: 0 0 40px 0; }
  @media (min-width: 768px) {
    .rowSix .findAnswersText {
      font-size: 11px; } }
  @media (min-width: 992px) {
    .rowSix .findAnswersText {
      font-size: 13px; } }
  @media (min-width: 1200px) {
    .rowSix .findAnswersText {
      font-size: 15px; } }
  .rowSix .card {
    background-color: #3f6061;
    border-radius: 0;
    border: 1px 1px 1px white;
    color: whitesmoke;
    margin-bottom: 10px; }
  .rowSix .accordion > .card > .card-header {
    border-radius: 0;
    margin-bottom: 0px;
    padding-right: 0; }
  .rowSix .card-header {
    background-color: #3f6061;
    border: 1px white solid;
    border-radius: 0;
    color: whitesmoke;
    font-size: 11px; }
  .rowSix .card-header > h6 {
    font-size: 11px;
    margin: 0 10px 0 0; }
  @media (min-width: 992px) {
    .rowSix .card-header > h6 {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .rowSix .card-header > h6 {
      font-size: 16px; } }
  .rowSix .card-body {
    background-color: #3f6061;
    font-size: 12px; }
  .rowSix .btn {
    color: whitesmoke; }
  .rowSix #accordion ul li:first-child div {
    display: block;
    border-radius: 0; }
  .rowSix .collapsible-link::before {
    content: "";
    width: 14px;
    height: 2px;
    background: white;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
    background-color: white; }
  .rowSix .collapsible-link::after {
    content: "";
    width: 2px;
    height: 14px;
    background: white;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s; }
  .rowSix .collapsible-link[aria-expanded="true"]::after {
    transform: rotate(90deg) translateX(-1px); }
  .rowSix .collapsible-link[aria-expanded="true"]::before {
    transform: rotate(180deg); }
  .rowSix a:hover {
    text-decoration: none; }
  .rowSix .addBorder {
    border: 1px solid white; }
  .rowSix .accordionText {
    font-size: 12px;
    color: #dadada;
    line-height: 2; }
  @media (min-width: 768px) {
    .rowSix .accordionText {
      font-size: 13px; } }
  @media (min-width: 992px) {
    .rowSix .accordionText {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .rowSix .accordionText {
      font-size: 15px; } }

@media (min-width: 768px) {
  .rowSix {
    padding: 0 80px 0 80px;
    height: 850px; } }

@media (min-width: 992px) {
  .rowSix {
    padding: 0 80px 0 80px;
    height: 875px; } }

@media (min-width: 992px) {
  .rowSix {
    padding: 0 135px 0 135px; } }

@media (min-width: 1200px) {
  .rowSix {
    padding: 0 170px 0 170px; } }

.rowSeven .rowSevenHeader {
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  color: #294243;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 65px 0 0 15px; }

@media (min-width: 768px) {
  .rowSeven .rowSevenHeader {
    font-size: 28px; } }

@media (min-width: 1200px) {
  .rowSeven .rowSevenHeader {
    font-size: 30px; } }

@media (min-width: 768px) {
  .rowSeven .rowSevenTagLine {
    font-size: 20px;
    text-align: center; } }

.rowSeven .rowSevengenText {
  font-family: "Playfair Display", serif;
  font-size: 13px;
  letter-spacing: 1.3px;
  color: #424d42;
  font-style: italic;
  margin: 15px 0 50px 15px; }

@media (min-width: 768px) {
  .rowSeven .rowSevengenText {
    font-size: 11px; } }

@media (min-width: 992px) {
  .rowSeven .rowSevengenText {
    font-size: 12px; } }

@media (min-width: 1200px) {
  .rowSeven .rowSevengenText {
    font-size: 13px; } }

.rowSeven .cardLinks {
  display: inline-block;
  text-align: center;
  color: #86bfca;
  margin: 0 0 50px 0; }

.rowSeven .cardLinksText {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #86bfca;
  text-decoration: underline;
  font-size: 13px;
  padding: 0 10px 0 10px;
  cursor: pointer; }

.rowSeven .card-group .card {
  max-width: 400px;
  margin-bottom: 70px; }

.rowSeven .card-group .getStartedBtn {
  border: 0px;
  border-radius: 0px;
  font-weight: bolder;
  font-size: 11px;
  color: whitesmoke;
  background-color: #86bfca;
  padding: 12px 0 0 0;
  width: 180px;
  height: 40px;
  margin: 20px 0 20px 0;
  letter-spacing: 1px; }

@media (min-width: 768px) {
  .rowSeven .card-group {
    height: 60%; }
    .rowSeven .card-group .card {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .rowSeven .card-group .mostPopularCard {
      margin-bottom: 10%; }
    .rowSeven .card-group .card.mostPopularCard.shadow-sm.cardOne {
      margin-right: -19px; }
    .rowSeven .card-group .card.mostPopularCard.shadow-sm.cardTwo {
      z-index: 1;
      transition: all 0.8s ease-in-out; }
    .rowSeven .card-group .card.mostPopularCard.shadow-sm.cardTwo:hover {
      transform: scale(1.1); }
    .rowSeven .card-group .card.mostPopularCard.shadow-sm.cardThree {
      margin-left: -19px; }
    .rowSeven .card-group .cardOne,
    .rowSeven .card-group .cardThree {
      transform: scale(0.9); } }

.rowSeven .card-title {
  color: #86bfca;
  padding-top: 10px;
  margin-bottom: -20px;
  font-size: 18px;
  font-weight: bolder; }

@media (min-width: 768px) {
  .rowSeven .card-title {
    font-size: 16px;
    margin-bottom: 10px; } }

@media (min-width: 992px) {
  .rowSeven .card-title {
    font-size: 18px;
    margin-bottom: 10px; } }

.rowSeven .cardPrice {
  font-family: "Playfair Display", serif;
  font-size: 90px;
  color: #294243; }

@media (min-width: 768px) {
  .rowSeven .cardPrice {
    margin: -25px 0 0 0;
    font-size: 60px; } }

@media (min-width: 992px) {
  .rowSeven .cardPrice {
    margin-top: -45px;
    font-size: 90px; } }

.rowSeven .cardPrice:before {
  content: "$";
  font-size: 40px;
  vertical-align: super;
  margin-top: 20px; }

@media (min-width: 768px) {
  .rowSeven .cardPrice:before {
    font-size: 30px; } }

.rowSeven .mostPopularCard .card-header {
  background-color: #86bfca;
  border: 0;
  border-radius: 0;
  padding: 2px 10px 2px 10px;
  font-family: "Playfair Display", serif;
  font-size: 11px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: white; }

.rowSeven .card {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.rowSeven .liText {
  font-size: 14px;
  color: #424d42;
  line-height: 1.5px;
  margin: 0 0 35px 0;
  padding: 0 0 0 0; }

@media (min-width: 768px) {
  .rowSeven .liText {
    font-size: 12px; } }

@media (min-width: 992px) {
  .rowSeven .liText {
    font-size: 13px; } }

@media (min-width: 1200px) {
  .rowSeven .liText {
    font-size: 14px; } }

.rowSeven ul.card-text.text-left {
  padding-left: 15px; }

.rowSeven ::marker {
  margin-left: 10px; }

.rowSeven li span {
  position: relative;
  left: 10px; }

.rowSeven hr {
  margin: 20px 0 45px 0; }

.rowEight {
  background-color: #294243;
  color: whitesmoke;
  padding: 5% 0% 5% 0; }
  .rowEight .rowEightHeader {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 5px;
    margin: 30px 0 15px 0; }
  @media (min-width: 768px) {
    .rowEight .rowEightHeader {
      font-size: 20px; } }
  @media (min-width: 992px) {
    .rowEight .rowEightHeader {
      font-size: 28px; } }
  @media (min-width: 1200px) {
    .rowEight .rowEightHeader {
      font-size: 32px; } }
  .rowEight .learnMoreBtn {
    background-color: rgba(255, 255, 255, 0.308);
    border: 1px solid white;
    border-radius: 0px;
    font-weight: bolder;
    font-size: 11px;
    color: whitesmoke;
    padding: 12px 0 0 0;
    width: 265px;
    height: 40px;
    margin: 0 0 20px 0;
    letter-spacing: 1px; }
  .rowEight .getStartedBtn {
    border: 0px;
    border-radius: 0px;
    font-weight: bolder;
    font-size: 11px;
    color: whitesmoke;
    background-color: #86bfca;
    padding: 12px 0 0 0;
    width: 265px;
    height: 40px;
    margin: 0 0 40px 0;
    letter-spacing: 1px; }
  @media (min-width: 768px) {
    .rowEight .learnMoreBtn {
      margin: 0;
      width: 150px; }
    .rowEight .getStartedBtn {
      margin: 0;
      width: 150px; } }
  @media (min-width: 1200px) {
    .rowEight .learnMoreBtn,
    .rowEight .getStartedBtn {
      width: 175px; } }

.footer {
  padding: 10% 5% 5% 5%;
  height: 200px; }
  .footer img {
    height: auto;
    width: auto;
    display: block;
    margin: 20px auto 10px auto; }
  @media (min-width: 768px) {
    .footer img {
      margin: 25px 0 0 0;
      width: 225px; } }
  @media (min-width: 992px) {
    .footer img {
      margin: 30px 0 0 0;
      width: 250px; } }
  @media (min-width: 1200px) {
    .footer img {
      margin: 35px 0 0 0; } }
  .footer .socialMediaLinks {
    text-align: center; }
  @media (min-width: 768px) {
    .footer .socialMediaLinks {
      text-align: right;
      margin: 20px 0 8px 0; } }
  .footer .btn-social-icon {
    background-color: #86bfca;
    border: none; }
  .footer .copyrightText {
    font-size: 10px;
    text-align: center;
    margin: 25px auto 20px auto; }
  @media (min-width: 768px) {
    .footer .copyrightText {
      text-align: right;
      margin: 0px auto 10px auto; } }
  .footer .fa-copyright {
    margin: 0 0 0 3px; }

@media (min-width: 768px) {
  .footer {
    padding: 0 0 0 0;
    height: 100px; } }
