@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@media (max-width: 1200px) {
  body {
    max-width: 1200px;
    font-size: 0.6rem;
    color: #294243; } }

.container {
  max-width: 1200px;
  height: auto; }

.container-fluid {
  max-width: 1200px;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  padding: 0 0 0 0;
  line-height: 2.5; }

.navbar .navbar-toggler {
  border: none;
  border-radius: 0;
  background-color: #86bfca; }

.navbar .fa-search {
  margin-top: 16px;
  margin-left: 10px; }

.jumbotron {
  background: url("/assets/assets-headerImg.png") no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  color: white; }
  .jumbotron .display-4 {
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1.2; }
  .jumbotron .lead {
    font-family: "Playfair Display", serif; }
  .jumbotron .btn-group-wrap {
    text-align: center; }
  .jumbotron div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block; }
  .jumbotron .btn {
    width: 250px;
    height: 50px;
    padding: 12px; }
  .jumbotron .learnMoreBtn {
    opacity: 0.6;
    border-radius: 0px;
    border-color: white;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.308);
    color: white; }
  .jumbotron .getStartedBtn {
    border: 0;
    border-radius: 0px;
    font-weight: bolder;
    color: white;
    background-color: #86bfca; }

.rowOne {
  font-size: 1rem;
  margin: 100px 0 75px 0; }
  .rowOne .rowOneLeft {
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    color: #294243; }
  .rowOne .rowOneParagraph {
    font-size: 3.5vw; }
  @media (min-width: 576px) and (max-width: 1200px) {
    .rowOne .rowOneLeft {
      font-size: 5vw;
      text-align: right; }
    .rowOne .rowOneParagraph {
      font-size: 1.5vw; } }

.rowTwo {
  font-size: 4vw; }
  .rowTwo .rowTwoHeader {
    letter-spacing: 5px;
    font-size: 2rem;
    color: #294243;
    line-height: 1.5;
    padding-left: 15px; }
  .rowTwo .rowTwoOffer {
    font-family: "Playfair Display", serif;
    font-size: 20px; }
  @media (min-width: 576px) and (max-width: 1200px) {
    .rowTwo {
      font-size: 100%;
      text-align: center; }
      .rowTwo .rowTwoOffer {
        font-family: "Playfair Display", serif;
        font-size: 15px; } }

.rowThree #show_corpFormationTab {
  padding-left: 0;
  padding-right: 0; }

.rowThree div.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block; }

@media (min-width: 576px) and (max-width: 1200px) {
  .rowThree .rowThree div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    /* display: inline-block; */ }
  .rowThree secondary.rowThreeBtns {
    width: 250px;
    margin: 0 0 25px 0; } }

.rowThree .rowThreeBtns {
  border-radius: 0;
  border: 0;
  padding: 20px 50px 20px 50px;
  background-color: #eff1f2;
  color: #a3a3a3;
  font-size: 20%;
  letter-spacing: 3px;
  margin-right: 2px; }

.rowThree .rowThreeBtns:hover {
  background-color: #86bfca;
  color: whitesmoke; }

.rowThree button.btn.btn-secondary.rowThreeBtns {
  width: 350px;
  margin: 0 0 25px 0; }

@media (min-width: 576px) and (max-width: 1200px) {
  .rowThree div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block; }
  .rowThree button.btn.btn-secondary.rowThreeBtns {
    width: 300px;
    margin: 0 0 25px 0; } }

.rowThree .btn-secondary:not(:disabled):not(.disabled).active,
.rowThree .btn-secondary:not(:disabled):not(.disabled):active,
.rowThree .show > .btn-secondary.dropdown-toggle {
  background-color: #86bfca; }

.rowFour {
  margin-bottom: 200px; }
  .rowFour .tabHeader {
    color: #294243; }
  .rowFour .mainContent {
    font-size: 3.5vw; }
  .rowFour .llcInfoBtn {
    background-color: #86bfca;
    border-radius: 0;
    border: 0;
    width: 250px;
    height: 50px;
    padding: 12px; }
  .rowFour .rowFourList li {
    padding: 0 0 20px 10px;
    list-style-position: inside;
    font-size: 3.5vw; }

.rowFive {
  background-color: #eff1f2; }
  .rowFive .capitolBldImage {
    object-fit: cover;
    border-radius: 50%;
    height: auto;
    width: 110%;
    margin-top: -175px;
    margin-left: -15px;
    margin-bottom: 75px; }
  @media (min-width: 768px) and (max-width: 1200px) {
    .rowFive {
      font-size: 0.8rem; }
      .rowFive .capitolBldImage {
        object-fit: cover;
        border-radius: 50%;
        height: auto;
        width: 65%;
        margin-top: 20%;
        margin-left: 10%;
        margin-bottom: 20%; }
      .rowFive .rowFiveheaderRight {
        margin-top: 20%;
        color: #294243;
        font-size: 1.5rem; }
      .rowFive .mainContent {
        font-size: 3.5vw; }
      .rowFive .content {
        margin-bottom: 5%; } }
  .rowFive .rowFiveheaderRight {
    letter-spacing: 5px;
    color: #294243;
    font-size: 1.2rem; }
  .rowFive .howToText {
    font-family: "Playfair Display", serif;
    font-size: 0.9rem;
    margin: 0; }
  .rowFive ul {
    list-style: none; }
  .rowFive ul li:before {
    content: "✓";
    background-color: #86bfca;
    border-radius: 50%;
    padding: 4px 6px 4px 6px;
    font-size: 10px;
    margin-left: -40px; }
  .rowFive .mainContent {
    font-size: 3.5vw; }

.rowSix {
  background-color: #294243;
  color: whitesmoke;
  height: 1100px;
  /* Vertical line */ }
  .rowSix .rowSixHeader {
    font-size: 1.2rem;
    margin-top: 20%; }
  .rowSix .findAnswersText {
    font-family: "Playfair Display", serif;
    font-size: 0.9rem;
    margin-bottom: 10%; }
  .rowSix .card {
    background-color: #3f6061;
    border-radius: 0;
    border: 1px 1px 1px white;
    color: whitesmoke;
    margin-bottom: 10px; }
  .rowSix .accordion > .card > .card-header {
    border-radius: 0;
    margin-bottom: 0px; }
  .rowSix .card-header {
    background-color: #3f6061;
    border: 1px white solid;
    border-radius: 0;
    color: whitesmoke; }
  .rowSix .card-body {
    background-color: #3f6061;
    font-size: 12px; }
  .rowSix .btn {
    color: whitesmoke; }
  .rowSix #accordion ul li:first-child div {
    display: block;
    border-radius: 0; }
  .rowSix .collapsible-link::before {
    content: "";
    width: 14px;
    height: 2px;
    background: white;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
    background-color: white; }
  .rowSix .collapsible-link::after {
    content: "";
    width: 2px;
    height: 14px;
    background: white;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s; }
  .rowSix .collapsible-link[aria-expanded="true"]::after {
    transform: rotate(90deg) translateX(-1px); }
  .rowSix .collapsible-link[aria-expanded="true"]::before {
    transform: rotate(180deg); }
  .rowSix a:hover {
    text-decoration: none; }
  .rowSix .addBorder {
    border: 1px solid white; }
  @media (min-width: 768px) and (max-width: 1200px) {
    .rowSix {
      height: 900px; }
      .rowSix .accordionText {
        font-size: 0.8rem; }
      .rowSix .rowSixHeader {
        margin-top: 10%; }
      .rowSix .findAnswersText {
        margin-bottom: 5%; } }

.rowSeven {
  background-color: #eff1f2;
  height: 1200px;
  padding-top: 50px; }
  .rowSeven .rowSevenTagLine {
    height: 0px;
    margin-top: 50px;
    letter-spacing: 3px; }
    .rowSeven .rowSevenTagLine .rowSevengenText {
      font-family: "Playfair Display", serif;
      letter-spacing: 1px; }
  .rowSeven .btn {
    background: none;
    color: #86bfca;
    border: none; }
  .rowSeven .btn:focus {
    border: none;
    box-shadow: none; }
  .rowSeven .cardLinks {
    color: #86bfca;
    margin-top: 20%; }
  .rowSeven .card-group .card {
    max-width: 400px; }
  .rowSeven .card-group .getStartedBtn {
    border: 0;
    border-radius: 0px;
    font-weight: bolder;
    color: white;
    background-color: #86bfca;
    width: 250px;
    height: 50px;
    padding: 12px; }
  .rowSeven .card-group .card-title {
    color: #86bfca;
    padding-top: 30px;
    margin-bottom: -20px; }
  .rowSeven .card-group .card-title {
    color: #86bfca;
    padding-top: 30px;
    margin-bottom: -20px; }
  .rowSeven .card-group .cardPrice {
    font-family: "Playfair Display", serif;
    font-size: 80px; }
  .rowSeven .card-group .mostPopularCard .card-header {
    background-color: #86bfca;
    border: 0;
    border-radius: 0;
    padding: 2px 10px 2px 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    color: white; }

.rowEight {
  background-color: #294243;
  color: whitesmoke;
  padding: 5% 0% 5% 0; }
  .rowEight .rowEightHeader {
    font-size: 1.5rem; }
  .rowEight .learnMoreBtn {
    opacity: 0.6;
    border-radius: 0px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.308);
    color: white;
    width: 250px; }
  .rowEight .getStartedBtn {
    border: 0;
    border-radius: 0px;
    font-weight: bolder;
    color: white;
    background-color: #86bfca;
    width: 250px; }

.footer {
  padding: 10% 5% 5% 5%;
  height: 200px; }
  .footer img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%; }
  .footer .btn-social-icon {
    background-color: #86bfca;
    border: none; }
  .footer .copyrightText {
    font-size: 1px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .footer .fa,
  .footer .fas {
    font-weight: 500; }
