// @import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

$playfairDisplay: "Playfair Display", serif;
$montserra: "Montserrat", sans-serif;
$primary-color: #294243;
$pale-color: #eff1f2;
$secondary-color: #86bfca;

@media (max-width: 1200px) {
    body {
        max-width: 1200px;
        font-size: 0.6rem;
        color: $primary-color;
    }
}

.container {
    max-width: 1200px;
    height: auto;
}

.container-fluid {
    max-width: 1200px;
    font-family: $montserra;
    line-height: 1;
    padding: 0 0 0 0;
    line-height: 2.5;
}

.row {
    padding: 0 5% 0 5%;
}

.navbar {
    .navbar-toggler {
        border: none;
        border-radius: 0;
        background-color: $secondary-color;
    }

    .fa-search {
        margin-top: 16px;
        margin-left: 10px;
    }
}

.jumbotron {
    background: url("/assets/assets-headerImg.png") no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;
    color: white;

    .display-4 {
        font-size: 2.6rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .lead {
        font-family: $playfairDisplay;
    }

    .btn-group-wrap {
        text-align: center;
    }

    div.btn-group {
        margin: 0 auto;
        text-align: center;
        width: inherit;
        display: inline-block;
    }

    .btn {
        width: 250px;
        height: 50px;
        padding: 12px;
    }

    .learnMoreBtn {
        opacity: 0.6;
        border-radius: 0px;
        border-color: white;
        font-weight: bolder;
        background-color: rgba(255, 255, 255, 0.308);
        color: white;
    }

    .getStartedBtn {
        border: 0;
        border-radius: 0px;
        font-weight: bolder;
        color: white;
        background-color: #86bfca;
    }
}

// Row One
.rowOne {
    font-size: 1rem;
    // padding: 2% 4% 2% 4%;
    margin: 100px 0 75px 0;

    .rowOneLeft {
        font-family: $playfairDisplay;
        font-size: 4rem;
        color: $primary-color;
        // margin: 0 0 10% 0;
    }

    .rowOneParagraph {
        font-size: 3.5vw;
    }

    @media (min-width: 576px) and (max-width: 1200px) {
        .rowOneLeft {
            font-size: 5vw;
            text-align: right;
        }
        .rowOneParagraph {
            font-size: 1.5vw;
        }
    }
}

.rowTwo {
    font-size: 4vw;

    .rowTwoHeader {
        letter-spacing: 5px;
        font-size: 2rem;
        color: $primary-color;
        line-height: 1.5;
        padding-left: 15px;
    }

    .rowTwoOffer {
        font-family: $playfairDisplay;
        font-size: 4vw;
    }

    @media (min-width: 576px) and (max-width: 1200px) {
        font-size: 100%;
        text-align: center;

        .rowTwoOffer {
            font-family: $playfairDisplay;
            font-size: 15px;
        }
    }
}

.rowThree {
    #show_corpFormationTab {
        padding-left: 0;
        padding-right: 0;
    }
    div.btn-group {
        margin: 0 auto;
        text-align: center;
        width: inherit;
        display: inline-block;
    }

    @media (min-width: 576px) and (max-width: 1200px) {
        .rowThree div.btn-group {
            margin: 0 auto;
            text-align: center;
            width: inherit;
            /* display: inline-block; */
        }
        secondary.rowThreeBtns {
            width: 250px;
            margin: 0 0 25px 0;
        }
    }

    .rowThreeBtns {
        border-radius: 0;
        border: 0;
        padding: 20px 50px 20px 50px;
        background-color: #eff1f2;
        color: rgb(163, 163, 163);
        font-size: 20%;
        letter-spacing: 3px;
        margin-right: 2px;
    }

    .rowThreeBtns:hover {
        background-color: $secondary-color;
        color: whitesmoke;
    }

    button.btn.btn-secondary.rowThreeBtns {
        width: 350px;
        margin: 0 0 25px 0;
    }
    @media (min-width: 576px) and (max-width: 1200px) {
        div.btn-group {
            margin: 0 auto;
            text-align: center;
            width: inherit;
            display: inline-block;
        }
        button.btn.btn-secondary.rowThreeBtns {
            width: 300px;
            margin: 0 0 25px 0;
        }
    }

    .btn-secondary:not(:disabled):not(.disabled).active,
    .btn-secondary:not(:disabled):not(.disabled):active,
    .show > .btn-secondary.dropdown-toggle {
        background-color: $secondary-color;
    }
}

.rowFour {
    margin-bottom: 200px;
    .tabHeader {
        color: $primary-color;
    }

    .mainContent {
        font-size: 3.5vw;
    }

    .llcInfoBtn {
        background-color: $secondary-color;
        border-radius: 0;
        border: 0;
        width: 250px;
        height: 50px;
        padding: 12px;
    }

    .rowFourList {
        li {
            padding: 0 0 20px 10px;
            list-style-position: inside;
            font-size: 3.5vw;
        }
    }
}

.rowFive {
    background-color: $pale-color;

    .capitolBldImage {
        object-fit: cover;
        border-radius: 50%;
        height: auto;
        width: 110%;
        margin-top: -175px;
        margin-left: -15px;
        margin-bottom: 75px;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        font-size: 0.8rem;
        .capitolBldImage {
            object-fit: cover;
            border-radius: 50%;
            height: auto;
            width: 65%;
            margin-top: 20%;
            margin-left: 10%;
            margin-bottom: 20%;
        }

        .rowFiveheaderRight {
            margin-top: 20%;
            //letter-spacing: 5px;
            color: $primary-color;
            font-size: 1.5rem;
        }
        .mainContent {
            font-size: 3.5vw;
        }

        .content {
            margin-bottom: 5%;
        }
    }

    .rowFiveheaderRight {
        letter-spacing: 5px;
        color: $primary-color;
        font-size: 1.2rem;
    }

    .howToText {
        font-family: $playfairDisplay;
        font-size: 4vw;
        margin: 0;
    }

    ul {
        list-style: none;
        margin-bottom: 50px;
    }

    ul li:before {
        content: "✓";
        background-color: #86bfca;
        border-radius: 50%;
        padding: 4px 6px 4px 6px;
        font-size: 10px;
        margin-left: -40px;
        margin-right: 10px;
    }

    .mainContent {
        font-size: 3.5vw;
    }
}

.rowSix {
    background-color: $primary-color;
    color: whitesmoke;
    height: 1100px;

    .rowSixHeader {
        font-size: 1.2rem;
        margin-top: 20%;
    }

    .findAnswersText {
        font-family: $playfairDisplay;
        font-size: 4vw;
        margin-bottom: 10%;
    }

    .card {
        background-color: #3f6061;
        border-radius: 0;
        border: 1px 1px 1px white;
        color: whitesmoke;
        margin-bottom: 10px;
    }

    .accordion > .card > .card-header {
        border-radius: 0;
        margin-bottom: 0px;
    }

    .card-header {
        background-color: #3f6061;
        border: 1px white solid;
        // border-top: 1px white solid;
        border-radius: 0;
        // border-bottom: 0;
        color: whitesmoke;
    }

    .card-header > h6 {
        font-size: 3.5vw;
    }

    .card-body {
        background-color: #3f6061;
        // border: 1px white solid;
        // border-top: 0;

        font-size: 12px;
    }

    .btn {
        color: whitesmoke;
    }

    #accordion ul li:first-child div {
        display: block;
        // border-top: 3px solid #ffcdcd;
        border-radius: 0;
    }

    .collapsible-link::before {
        content: "";
        width: 14px;
        height: 2px;
        background: white;
        position: absolute;
        top: calc(50% - 1px);
        right: 1rem;
        display: block;
        transition: all 0.3s;
        background-color: white;
    }

    /* Vertical line */
    .collapsible-link::after {
        content: "";
        width: 2px;
        height: 14px;
        background: white;
        position: absolute;
        top: calc(50% - 7px);
        right: calc(1rem + 6px);
        display: block;
        transition: all 0.3s;
    }

    .collapsible-link[aria-expanded="true"]::after {
        transform: rotate(90deg) translateX(-1px);
    }

    .collapsible-link[aria-expanded="true"]::before {
        transform: rotate(180deg);
    }

    a:hover {
        text-decoration: none;
    }

    .addBorder {
        border: 1px solid white;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        height: 900px;
        .accordionText {
            font-size: 0.8rem;
        }

        .rowSixHeader {
            margin-top: 10%;
        }

        .findAnswersText {
            margin-bottom: 5%;
        }
    }
}

.rowSeven {
    background-color: $pale-color;
    height: 1200px;
    padding-top: 50px;

    .rowSevenTagLine {
        height: 0px;
        margin-top: 50px;
        letter-spacing: 3px;
        text-align: left;
    }

    .rowSevengenText {
        font-family: $playfairDisplay;
        font-size: 3vw;
    }

    .btn {
        background: none;
        color: $secondary-color;
        border: none;
    }

    .btn:focus {
        border: none;
        box-shadow: none;
    }
    .cardLinks {
        color: $secondary-color;
        margin-top: 20%;
    }

    .card-group {
        .card {
            max-width: 400px;
        }
        .getStartedBtn {
            border: 0;
            border-radius: 0px;
            font-weight: bolder;
            color: white;
            background-color: #86bfca;
            width: 250px;
            height: 50px;
            padding: 12px;
        }

        .card-title {
            color: $secondary-color;
            padding-top: 30px;
            margin-bottom: -20px;
        }

        .card-title {
            color: $secondary-color;
            padding-top: 30px;
            margin-bottom: -20px;
        }

        .cardPrice {
            font-family: $playfairDisplay;
            font-size: 80px;
        }

        .mostPopularCard {
            .card-header {
                background-color: $secondary-color;
                border: 0;
                border-radius: 0;
                // height: 10px;
                padding: 2px 10px 2px 10px;
                font-family: $montserra;
                font-size: 14px;
                letter-spacing: 3px;
                color: white;
            }
        }
    }
}

//https://codepen.io/Corsurath/pen/abbxNpj

.rowEight {
    background-color: $primary-color;
    color: whitesmoke;
    padding: 5% 0% 5% 0;

    .rowEightHeader {
        font-size: 1.5rem;
    }

    .learnMoreBtn {
        opacity: 0.6;
        border-radius: 0px;
        font-weight: bolder;
        background-color: rgba(255, 255, 255, 0.308);
        color: white;
        width: 250px;
    }

    .getStartedBtn {
        border: 0;
        border-radius: 0px;
        font-weight: bolder;
        color: white;
        background-color: #86bfca;
        width: 250px;
    }
}

.footer {
    padding: 10% 5% 5% 5%;
    height: 200px;

    img {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }

    .btn-social-icon {
        background-color: $secondary-color;
        border: none;
    }

    .copyrightText {
        font-size: 1px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .fa,
    .fas {
        font-weight: 500;
    }
}
