@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1200px; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  margin: auto; }

.navbar-light .navbar-nav .nav-link {
  padding-left: 40px; }

.jumbotron {
  background: url("/assets/assets-headerImg.png") no-repeat;
  background-size: cover;
  background-position: top center;
  height: auto;
  width: 100%;
  padding: 10% 0 12% 0;
  border-radius: 0; }
  .jumbotron .h1 {
    font-size: 3.5vw;
    color: whitesmoke; }
  .jumbotron .tagLine {
    color: whitesmoke;
    font-size: 1.5vw;
    font-family: "Playfair Display", serif; }
  .jumbotron .rowOneLeft {
    font-size: 50px;
    font-family: "Playfair Display", serif; }
  .jumbotron .learnMoreBtn {
    opacity: 0.6;
    border-radius: 0px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.308);
    color: white; }
  .jumbotron .getStartedBtn {
    border: 0;
    border-radius: 0px;
    font-weight: bolder;
    color: white;
    background-color: #86bfca; }

.rowOne {
  margin: 8% 8% 10% 0; }
  .rowOne .rowOneLeft {
    font-size: 70px;
    font-family: "Playfair Display", serif;
    text-align: right; }

.rowTwo .rowTwoHeader {
  letter-spacing: 7px; }

.rowTwo .rowTwoOffer {
  font-family: "Playfair Display", serif;
  font-size: 20px; }

.rowThree {
  margin: 20px 0px 60px 0; }
  .rowThree .rowThreeRadioBtns {
    border-radius: 0;
    border: 0;
    padding: 20px 50px 20px 50px;
    background-color: #eff1f2;
    color: #a3a3a3;
    font-size: 20%;
    letter-spacing: 3px;
    margin-right: 2px; }
  .rowThree .rowThreeRadioBtns:hover {
    background-color: #86bfca;
    color: whitesmoke; }
  .rowThree .btn-secondary:not(:disabled):not(.disabled).active,
  .rowThree .btn-secondary:not(:disabled):not(.disabled):active,
  .rowThree .show > .btn-secondary.dropdown-toggle {
    background-color: #86bfca; }

.rowFour {
  margin: 0 0 10% 20%; }
  .rowFour .corporationFormationTab {
    display: none; }
  .rowFour .llcInfoBtn {
    background-color: #86bfca;
    border-radius: 0;
    border: 0; }
  .rowFour .rowFourList li {
    padding: 0 0 25px 0; }

.rowFive {
  background-color: #eff1f2;
  padding: 5% 5% 5% 15%; }
  .rowFive .capitolBldImage {
    object-fit: cover;
    border-radius: 50%;
    height: 400px;
    width: auto; }
  .rowFive .rowFiveheaderRight {
    letter-spacing: 5px; }
  .rowFive .howToText {
    font-family: "Playfair Display", serif; }

.rowEight {
  background-color: #294243;
  color: whitesmoke;
  padding: 5% 0% 5% 0; }
  .rowEight .learnMoreBtn {
    opacity: 0.6;
    border-radius: 0px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.308);
    color: white; }
  .rowEight .getStartedBtn {
    border: 0;
    border-radius: 0px;
    font-weight: bolder;
    color: white;
    background-color: #86bfca; }
