// @import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

$playfairDisplay: "Playfair Display", serif;
$montserra: "Montserrat", sans-serif;
$primary-color: #294243;
$pale-color: #eff1f2;
$secondary-color: #86bfca;

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1200px;
}

body {
    font-family: $montserra;
    line-height: 2;
    // max-width: 1200px;
    margin: auto;
}

// .navbar-light .navbar-nav .nav-link {
//     padding-left: 40px;
// }

// header{
//     .navL{
//         width: 60%;
//         margin: 0 auto;
//         display: block;
//     }
// }

// Jumbotron
.jumbotron {
    background: url("/assets/assets-headerImg.png") no-repeat;
    background-size: cover;
    background-position: top center;
    height: auto;
    width: 100%;
    padding: 10% 0 12% 0;
    border-radius: 0;

    .h1 {
        font-size: 3.5vw;
        color: whitesmoke;
    }

    .tagLine {
        color: whitesmoke;
        font-size: 1.5vw;
        font-family: $playfairDisplay;
    }

    .rowOneLeft {
        font-size: 50px;
        font-family: $playfairDisplay;
    }

    .learnMoreBtn {
        opacity: 0.6;
        border-radius: 0px;
        font-weight: bolder;
        background-color: rgba(255, 255, 255, 0.308);
        color: white;
    }

    .getStartedBtn {
        border: 0;
        border-radius: 0px;
        font-weight: bolder;
        color: white;
        background-color: #86bfca;
    }
}

// row one
.rowOne {
    margin: 8% 8% 10% 0;

    .rowOneLeft {
        font-size: 70px;
        font-family: $playfairDisplay;
        text-align: right;
    }

    // padding-top: 75px;
    // .rowOneLeft {
    //     font-size: 70px;
    //     font-family: $playfairDisplay;
    //     padding-right: 10px;
    // }
}

// row two
.rowTwo {
    .rowTwoHeader {
        letter-spacing: 7px;
    }

    .rowTwoOffer {
        font-family: $playfairDisplay;
        font-size: 20px;
    }
}

.rowThree {
    margin: 20px 0px 60px 0;

    .rowThreeRadioBtns {
        border-radius: 0;
        border: 0;
        padding: 20px 50px 20px 50px;
        background-color: #eff1f2;
        color: rgb(163, 163, 163);
        font-size: 20%;
        letter-spacing: 3px;
        margin-right: 2px;
    }

    .rowThreeRadioBtns:hover {
        background-color: $secondary-color;
        color: whitesmoke;
    }

    .btn-secondary:not(:disabled):not(.disabled).active,
    .btn-secondary:not(:disabled):not(.disabled):active,
    .show > .btn-secondary.dropdown-toggle {
        background-color: $secondary-color;
    }
}

.rowFour {
    margin: 0 0 10% 20%;
    .corporationFormationTab {
        display: none;
    }

    .llcInfoBtn {
        background-color: $secondary-color;
        border-radius: 0;
        border: 0;
    }

    .rowFourList {
        li {
            padding: 0 0 25px 0;
        }
    }
}

.rowFive {
    background-color: $pale-color;
    padding: 5% 5% 5% 15%;

    .capitolBldImage {
        object-fit: cover;
        border-radius: 50%;
        height: 400px;
        width: auto;
        //   margin: 10% 10% 0 30%;
    }

    .rowFiveheaderRight {
        letter-spacing: 5px;
    }

    .howToText {
        font-family: $playfairDisplay;
    }
}

.rowSix {
    background-color: $primary-color;
    color: whitesmoke;
    height: 700px;

    .card {
        background-color: #3f6061;
        border-radius: 0;
        border: 1px 1px 1px white;
        color: whitesmoke;
        margin-bottom: 10px;
    }

    .card-header {
        background-color: #3f6061;
        border: 1px white solid;
        border-top: 1px white solid;
        border-radius: 0;
        border-bottom: 0;
        color: whitesmoke;
    }

    // .card-header .btn-link:after{
    //     content: '+';
    //     margin-left: 750px;
    //     font-size: 250%;
    // }

    .card-body {
        background-color: #3f6061;
        border: 1px white solid;
        border-top: 0;

        font-size: 12px;
    }

    .btn {
        color: whitesmoke;
    }

    #accordion ul li:first-child div {
        display: block;
        border-top: 3px solid #ffcdcd;
        border-radius: 0;
    }

    // test
    /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
    /* Horizontal line */
    .collapsible-link::before {
        content: "";
        width: 14px;
        height: 2px;
        background: white;
        position: absolute;
        top: calc(50% - 1px);
        right: 1rem;
        display: block;
        transition: all 0.3s;
        background-color: white;
    }

    /* Vertical line */
    .collapsible-link::after {
        content: "";
        width: 2px;
        height: 14px;
        background: white;
        position: absolute;
        top: calc(50% - 7px);
        right: calc(1rem + 6px);
        display: block;
        transition: all 0.3s;
    }

    .collapsible-link[aria-expanded="true"]::after {
        transform: rotate(90deg) translateX(-1px);
    }

    .collapsible-link[aria-expanded="true"]::before {
        transform: rotate(180deg);
    }

    a:hover {
        text-decoration: none;
    }
}

.rowSeven {
    background-color: $pale-color;
    height: 1200px;
    padding-top: 75px;

    .placeholder {
        height: 300px;
    }

    .mostPopularCard {
        height: 700px;
    }

    .card {
        border-radius: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        width: 500px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;

        ul {
            list-style-type: none;
            padding: 0;
            letter-spacing: 2px;
        }

        li {
            display: list-item; /* This has to be "list-item"                                               */
            list-style-type: disc; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
            list-style-position: inside;
        }

        .card-header {
            background-color: $secondary-color;
            border: 0;
            border-radius: 0;
            // height: 10px;
            padding: 2px 10px 2px 10px;
            font-family: $montserra;
            font-size: 14px;
            letter-spacing: 3px;
            color: white;
        }

        .card-title {
            color: $secondary-color;
            padding-top: 30px;
            margin-bottom: -20px;
        }

        .card-text {
            font-family: $playfairDisplay;
            font-size: 80px;
            border-bottom: 1px solid rgb(223, 215, 215);
        }

        .cardLineItems {
            padding-bottom: 25px;
        }

        .getStartedBtn {
            border: 0;
            border-radius: 0px;
            font-weight: bolder;
            color: white;
            background-color: #86bfca;
        }
    }
}

.rowEight {
    background-color: $primary-color;
    color: whitesmoke;
    padding: 5% 0% 5% 0;

    .learnMoreBtn {
        opacity: 0.6;
        border-radius: 0px;
        font-weight: bolder;
        background-color: rgba(255, 255, 255, 0.308);
        color: white;
    }

    .getStartedBtn {
        border: 0;
        border-radius: 0px;
        font-weight: bolder;
        color: white;
        background-color: #86bfca;
    }
}
