@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1200px; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  margin: auto; }

.jumbotron {
  background: url("/assets/assets-headerImg.png") no-repeat;
  background-size: cover;
  background-position: top center;
  height: auto;
  width: 100%;
  padding: 10% 0 12% 0;
  border-radius: 0; }
  .jumbotron .h1 {
    font-size: 3.5vw;
    color: whitesmoke; }
  .jumbotron .tagLine {
    color: whitesmoke;
    font-size: 1.5vw;
    font-family: "Playfair Display", serif; }
  .jumbotron .rowOneLeft {
    font-size: 50px;
    font-family: "Playfair Display", serif; }
  .jumbotron .learnMoreBtn {
    opacity: 0.6;
    border-radius: 0px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.308);
    color: white; }
  .jumbotron .getStartedBtn {
    border: 0;
    border-radius: 0px;
    font-weight: bolder;
    color: white;
    background-color: #86bfca; }

.rowOne {
  margin: 8% 8% 10% 0; }
  .rowOne .rowOneLeft {
    font-size: 70px;
    font-family: "Playfair Display", serif;
    text-align: right; }

.rowTwo .rowTwoHeader {
  letter-spacing: 7px; }

.rowTwo .rowTwoOffer {
  font-family: "Playfair Display", serif;
  font-size: 20px; }

.rowThree {
  margin: 20px 0px 60px 0; }
  .rowThree .rowThreeRadioBtns {
    border-radius: 0;
    border: 0;
    padding: 20px 50px 20px 50px;
    background-color: #eff1f2;
    color: #a3a3a3;
    font-size: 20%;
    letter-spacing: 3px;
    margin-right: 2px; }
  .rowThree .rowThreeRadioBtns:hover {
    background-color: #86bfca;
    color: whitesmoke; }
  .rowThree .btn-secondary:not(:disabled):not(.disabled).active,
  .rowThree .btn-secondary:not(:disabled):not(.disabled):active,
  .rowThree .show > .btn-secondary.dropdown-toggle {
    background-color: #86bfca; }

.rowFour {
  margin: 0 0 10% 20%; }
  .rowFour .corporationFormationTab {
    display: none; }
  .rowFour .llcInfoBtn {
    background-color: #86bfca;
    border-radius: 0;
    border: 0; }
  .rowFour .rowFourList li {
    padding: 0 0 25px 0; }

.rowFive {
  background-color: #eff1f2;
  padding: 5% 5% 5% 15%; }
  .rowFive .capitolBldImage {
    object-fit: cover;
    border-radius: 50%;
    height: 400px;
    width: auto; }
  .rowFive .rowFiveheaderRight {
    letter-spacing: 5px; }
  .rowFive .howToText {
    font-family: "Playfair Display", serif; }

.rowSix {
  background-color: #294243;
  color: whitesmoke;
  height: 700px;
  /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
  /* Horizontal line */
  /* Vertical line */ }
  .rowSix .card {
    background-color: #3f6061;
    border-radius: 0;
    border: 1px 1px 1px white;
    color: whitesmoke;
    margin-bottom: 10px; }
  .rowSix .card-header {
    background-color: #3f6061;
    border: 1px white solid;
    border-top: 1px white solid;
    border-radius: 0;
    border-bottom: 0;
    color: whitesmoke; }
  .rowSix .card-body {
    background-color: #3f6061;
    border: 1px white solid;
    border-top: 0;
    font-size: 12px; }
  .rowSix .btn {
    color: whitesmoke; }
  .rowSix #accordion ul li:first-child div {
    display: block;
    border-top: 3px solid #ffcdcd;
    border-radius: 0; }
  .rowSix .collapsible-link::before {
    content: "";
    width: 14px;
    height: 2px;
    background: white;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
    background-color: white; }
  .rowSix .collapsible-link::after {
    content: "";
    width: 2px;
    height: 14px;
    background: white;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s; }
  .rowSix .collapsible-link[aria-expanded="true"]::after {
    transform: rotate(90deg) translateX(-1px); }
  .rowSix .collapsible-link[aria-expanded="true"]::before {
    transform: rotate(180deg); }
  .rowSix a:hover {
    text-decoration: none; }

.rowSeven {
  background-color: #eff1f2;
  height: 1200px;
  padding-top: 75px; }
  .rowSeven .placeholder {
    height: 300px; }
  .rowSeven .mostPopularCard {
    height: 700px; }
  .rowSeven .card {
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 500px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; }
    .rowSeven .card ul {
      list-style-type: none;
      padding: 0;
      letter-spacing: 2px; }
    .rowSeven .card li {
      display: list-item;
      /* This has to be "list-item"                                               */
      list-style-type: disc;
      /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
      list-style-position: inside; }
    .rowSeven .card .card-header {
      background-color: #86bfca;
      border: 0;
      border-radius: 0;
      padding: 2px 10px 2px 10px;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      letter-spacing: 3px;
      color: white; }
    .rowSeven .card .card-title {
      color: #86bfca;
      padding-top: 30px;
      margin-bottom: -20px; }
    .rowSeven .card .card-text {
      font-family: "Playfair Display", serif;
      font-size: 80px;
      border-bottom: 1px solid #dfd7d7; }
    .rowSeven .card .cardLineItems {
      padding-bottom: 25px; }
    .rowSeven .card .getStartedBtn {
      border: 0;
      border-radius: 0px;
      font-weight: bolder;
      color: white;
      background-color: #86bfca; }

.rowEight {
  background-color: #294243;
  color: whitesmoke;
  padding: 5% 0% 5% 0; }
  .rowEight .learnMoreBtn {
    opacity: 0.6;
    border-radius: 0px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.308);
    color: white; }
  .rowEight .getStartedBtn {
    border: 0;
    border-radius: 0px;
    font-weight: bolder;
    color: white;
    background-color: #86bfca; }
