@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$playfairDisplay: 'Playfair Display', serif;
$montserra: 'Montserrat', sans-serif;
$primary-color: #294243;
$pale-color: #EFF1F2;
$secondary-color: #86BFCA;

body {
    font-family: $montserra;
}

.navbar-light .navbar-nav .nav-link{
    padding-left: 40px;
}

.jumbotron{
    background-image: url('/assets/assets-headerImg.png');
    height: 500px;
    color: white;

    .h1{
        font-size: 3.5rem;
        font-weight:900;
    }
}
